
html {
  scroll-behavior: smooth;
}

@mixin res-font($mobSize, $pcSize) {
  $max-resolution: 1920;
  $min-resolution: 370;
  $mobSizeDeff: $pcSize - $mobSize;

  font-size: calc(
    #{$mobSize + px} + #{$mobSizeDeff} *
      (
        (100vw - #{$min-resolution + px}) /
          (#{$max-resolution} - #{$min-resolution})
      )
  );
}

.tax-team {
  @include res-font(14,16);
  .hero-section {
    height:auto;
    .rectangle {
      width: calc(100% - 134px);
      height:265px;
      margin:0 auto;
      top:0;
    }
    .inner-holder{
      width: 87%;
      padding:calc(var(--hh) - 20px) 25px 50px;
    }

    .person-top-wrap {
      display: flex;
      align-items: center;
      flex-wrap:wrap;
      max-width:1242px;
      padding-top: 70px;
      margin:0 auto;
      >div:nth-child(1){
        flex-basis: 534px;
        flex-shrink: 1;
        flex-grow: 0;

        .info-wrap {
          display: flex;
          margin-top: -50px;
          margin-left: 55px;
          position: absolute;

          h1.name {
            //font-size: 64px;
            @include res-font(24,64);
            font-family: 'Monument Extended';
            border-bottom: 1px solid #343434;
            padding-bottom: 50px;
            padding-right: 30px;
            margin-right: 20px;
          }

          .person-info {
            padding-top: 10px;
            p.position {
              font-size: 22px;
            }

            p.instagram {
              font-size: 16px;
              display: flex;
              line-height: 0.9;
              padding-top: 12px;

              img {
                margin-right: 12px;
              }
            }
          }
        }
      }

      >div:nth-child(2) {
        flex-basis: 631px;
        flex-shrink: 1;
        flex-grow: 0;
        padding-left: 78px;
      }

      >div:nth-child(3) {
        margin-top:140px;
        //max-width: 1600px;
        display: flex;
        flex: 1;
        justify-content: space-evenly;
          .col{
            flex-grow: 0;
            flex-shrink: 0;
             flex-basis: 25%;
            h3{
              //font-size: 22px;
              @include res-font(15,22);
              margin-bottom: 15px;
            }
            a{
              text-decoration: underline;
            }
          }
        .col.specialized{
          margin-left: -90px;
        }
        .col.education{

        }
      }
    }
  }
}
.all-team-section{
  padding-bottom:67px;
  .rectangle{
    height:100% !important;
  }
  h2.team-title{
    //font-size: 64px;
    @include res-font(24,64);
    font-family: "Monument Extended";
    margin-bottom: -45px;
    text-align: center;
  }
  .section-team{
    display: grid;
    max-width: 1328px;
    margin: 0 auto;
    width: 100%;
    //align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    grid-column-gap: 122px;
    grid-row-gap: 100px;
    justify-items: center;
    a.person{
      flex:0 1 243px;
      text-align:center;
      .pic{
        position:relative;
        width: 234px;
        line-height: 0;

        img {
          background-color: #000;
        }
        .bordered{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 8px;
          top: 8px;
          //background: #000;
          border: 1px solid #343434;
          border-top: none;
          border-left: none;
          z-index: -1;
        }
      }
      .name{
        @include res-font(15,22);
        margin:19px 0 8px 0;
      }
      .position{
        @include res-font(14,16);
      }
    }
  }
}
.team-page{
  height:294px;
  .rectangle{
    height:100%;
    bottom:unset;
  }
}


.page-template-page-team{
 .title{
   text-align:center;
   h1 {
    @include res-font(24,64);
     font-family: "Monumenall-team-sectiont Extended";
   }

   .subtitle {
     //margin:25px 0 95px 0;
     max-width:558px;
     text-align: center;
     margin:25px auto 95px;
   }
 }
}




/* trainers section */
.trainers-info-section{
    .inner-holder{
        .left-col{
            width: 100%;
            max-width: 925px;
        }
        .right-col{
          max-width: 760px;
            h2{
                @include res-font(24,64);
                font-family: "Monument Extended";
              margin-bottom:20px;
              padding-left:120px;
            }
            .description{
                padding-left:120px;
                p{
                    margin-bottom:20px;
                }
            }
            .link{
                display:block;
                margin-top:70px;
                margin-left:120px;
                text-align:center;
                //text-decoration: underline;
              text-decoration: underline;
              text-underline-position: under;
              text-underline-offset: 12px;
              text-decoration-color: #757575;
            }
        }
    }
}


/* Single service page */
.single-services.postid-250{
  .short-desc{
    justify-content: unset !important;
  }
}
.single-services{
  .single-service-wrap {
    .video-desc-wrap{
      height: auto;
      .rectangle{
        bottom:unset;
        height:566px;
        width:calc(100% - 134px);
        top:0;
      }
      .services-menu{
        padding: 56px 0 100px 0;
        ul{
          display: flex;
          justify-content: space-between;
          max-width: 1035px;
          margin: 0 auto;
          li{
            padding-bottom:10px;
            margin-bottom:10px;
            text-align:center;
            a{
              text-transform:uppercase;
              border-bottom: 4px solid transparent;
              //transition: border-color 0.6s linear;
              padding-bottom: 10px;
              //letter-spacing: 1px;
              //display:inline-block;
              //width:calc(100% + 5px);
              transition:all 0.3s;
            }



          }
          li:hover,
          li.active{
            a{
              font-weight: bold;
              padding-bottom:10px;
              border-bottom: 4px solid #0057FF;
//letter-spacing: 0px;
            }

            padding-bottom: 10px;

          }
        }
      }
      .video-desc{
        display:flex;
        .video{
          max-width:792px;
          position: relative;
          video{
            width:100%;
            padding: 0 0 40px 70px;
          }
          @media only screen and (min-width: 979px) and (max-width: 1400px) {
            height:30vw;
          }
          .video-icon{
            display: block;
            position: absolute;
            top: -15%;
            bottom: 0px;
            right: -10%;
            left: 0;
            margin: auto;
            width: 88px;
            height: 88px;
            font-size: 0;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            cursor: pointer;
            background-image: url('https://jtrain.brainstormtech.pro/wp-content/themes/jtrain/images/play-icon.svg');
          }
          h1{
            font-family: "Monument Extended";
            @include res-font(24,64);
            position: absolute;
            z-index: 99;
            bottom: 0%;
            height: 160px;
            max-width: 100%;
            line-height: normal;
            display: flex;
            align-items: center;
            //padding-left: 8px;
          }
        }
        .short-desc{
          //flex: 1;
          padding: 0 0 70px 70px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 574px;
          p{
            //vertical-align: middle;
            //display: table-cell;
            margin-bottom:16px;
          }
        }
      }
    }
    .team-wrap{
      height:auto;
      @media only screen and (max-width: 980px) {
        padding-top:50px;
      }
      .rectangle{
        bottom:0;
        width: calc(100% - 134px);
        .team-title{
          text-align: center;
          font-size: 22px;
          margin-bottom:-12px;
        }
      }
      .inner-holder{
        padding-top: 0;
        .team-description{
          padding: 70px 0 50px 0;
          text-align:center;
          max-width: 802px;
          margin:0 auto;
          @media only screen and (max-width: 980px) {
            margin:0 !important;
          }
        }

        .full-description {
          > div {
            max-width: 572px;
            margin-left: 132px;
            text-align: center;
            margin: 0 auto;
            h3 {
              font-size: 22px;
              margin: 0 0 32px 0;
            }

            p {
              margin-bottom: 25px;
            }

            p:last-child {
              margin-bottom: 87px;
            }
          }
        }
      }
    }
    .slider-fulldesc{
      display: flex;
      //align-items: center;

      margin-top:167px;
      >div{
        flex:1;
      }
      .slider{
        max-width: 844px;
        overflow: hidden;
        .paginate{
          display: flex;
          justify-content: center;
          align-items: center;
          width:184px;
          height:24px;
          position:relative;
          margin:64px auto 0;

          .swiper-button-prev,
          .swiper-button-next {
            height: 24px;
            width: 12px;
            background-size: 100% 100%;
            margin: 0;
            top: 0;
          }
          .swiper-pagination{
            display: flex;
            align-items: center;


              .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
                border: 1px solid white;
              }

              .swiper-pagination-bullet {
                margin: 0 20px;
              }


            .swiper-pagination-bullet-active{
              width:13px;
              height:13px;
              background-color:#0057FF;
            }
          }
        }

      }
      .full-description{
        > div {
          max-width: 572px;
          margin-left: 132px;
          padding:33px 0;
          h3{
            font-size: 22px;
            margin:0 0 32px 0;
          }
          p{
            margin-bottom: 25px;
          }
        }
      }
      .full-description:not(.has-slider){
        text-align: center;
        >div{
          max-width: 678px;
         margin:0 auto;
        }
      }

    }
  .contact-services{
    margin-top:130px;
  }
  }

}
@media (max-width: 767px){
.tax-team{
  .hero-section {
    .rectangle{
      width:calc(100% - 68px);
      h2.team-title{
        margin-bottom: -25px;
      }
    }
    .inner-holder{
      width:100%;
        .info-holder {
      .top-part {
        max-height: none;

        .person-top-wrap {
          .person-profile {
            >img{
              position: relative;
              left: 50%;
              right: 50%;
              margin-left: -50vw;
              margin-right: -50vw;
              width: calc(97.9vw);
              max-width: none;
            }
            .info-wrap {
              position: relative;
              margin: 0;
              flex-direction: column;

              .name {
                border: none;
                margin: 0;
                padding: 0 0 5px 0;
              }
            }
          }

          .description {
            padding: 20px 0 0 0;
          }

          .description-columns {
            flex-direction: column;
            margin-top: 20px;

            > div {
              margin: 0;
            }
          }
        }
      }
    }
    }
  }

}
    .all-team-section{
    .rectangle{
      >div{
        display: none;
      }
    }
    .section-team{
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 50px;
      a.person{
        .pic {
          width: 100%;
        }
      }
    }
  }
  .team-page {
    height: 225px;

    .rectangle {
      height: 100%;
      bottom: unset;
    }
  }
}
 .logo {
   height: auto !important;
 }
@media (max-width: 980px) {
  .logo{
    height: auto !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .trainers-info-section {
    .inner-holder {
      flex-direction:column;
      .left-col {
        width: 100%;
        max-width: 925px;
      }

      .right-col {
        padding:22px 16px;
        max-width: 760px;
        h2{
          margin-left:0 !important;
          padding-left:0 !important;
        }

        .description {
          padding-left: 0px !important ;

          p {
            margin-bottom: 20px;
          }
        }

        .link {
          //text-align: center;
          margin:30px auto;
        }
      }
    }
  }
.single-services{
.video-desc-wrap{
  .rectangle{
    width:calc(100% - 68px) !important;
  }
  .services-menu {
    ul {
      flex-direction: column;
      text-align: center;
      li{
        margin: 0 auto;
        a{

        }
      }
      li:hover,li:focus{
        a{
          border:none;
        }
      }
    }
  }

  .video-desc {
    flex-direction: column;

    .video {
      position: relative;
      padding-bottom: 97px;

      video {
        padding: 0 !important;
      }
      .video-icon{
        right:0 !important;
        top:-25%;
      }
      h1 {
        max-width: 100% !important;
      }
    }

    .short-desc {
      padding: 0 !important;
    }
  }
}
  .team-wrap{
    .rectangle{
      width: calc(100% - 40px) !important;
      h2.team-title{
        text-align: left !important;
      }
      >div{
        display:none;
      }
    }
    .team-description{
      text-align:left !important;
      padding:0px 0 50px 0 !important;
    }
  }
  .slider-fulldesc{
    flex-direction: column;
    margin-top:0;
    .full-description{
      >div{
        margin:0 20px !important;
      }
    }
  }
  .contact-services{
    margin-top:0 !important;
  }
}
}
@media only screen and (min-width: 768px) and (max-width: 1400px){
  .tax-team {
    .hero-section {
      .rectangle {
        width: calc(100% - 68px);

        h2.team-title {
          margin-bottom: -25px;
        }
      }

      .info-holder {
        .top-part {
          max-height: none;

          .person-top-wrap {
            .person-profile {
              > img {
                position: relative;

                width: calc(100% + 200px);
                max-width: none;
              }

              .info-wrap {
                position: relative;
                margin: 0;
                flex-direction: column;

                .name {
                  border: none;
                  margin: 0;
                  padding: 0 0 5px 0;
                }
              }
            }

            .description {
              padding: 20px 0 0 0;
            }

            .description-columns {
              flex-direction: column;
              margin-top: 20px;
              margin-left: 50px;
              > div {
                margin: 0;
              }
            }
          }
        }
      }
    }

    .all-team-section {
      .rectangle {
        > div {
          display: none;
        }
      }
    }
  }
  .single-services{
    .video-desc{
      .video{
        //height:30vw;
      }
    }
  }

}

//.transition-fade {
//  transition: all 600ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
//
//  transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
//  transform:translateX(0);
// transition-delay: 0.6s;
//}
//
//html.is-animating .transition-fade {
//  //opacity: 0;
//  transform: translateX(100%);
//
//}
//html.is-animating main,
//html.is-changing main,
//html.is-leaving main,
//html.is-rendering main
//{
//   overflow-y:hidden;
//}
//
//html.is-leaving .transition-fade {
//  //opacity: 0;
//  transform: translateX(-100%);
//
//}

.page-template-template-concierge{
  .wrap{
    display: flex;
    justify-items: center;
    .left-column{
      flex: 1 1 90%;
      padding-top: 190px;
      padding-right: 5%;
      img{

      }
    }
    .right-column{
        flex: 1 1 105%;
        border: 1px solid #343434;
        border-top: none;
        border-right: none;
        position: relative;
        padding:190px 0 80px 160px;
      h1{
        position: absolute;
        left: -38px;
        height: 30px;
        top: 50%;
        @include res-font(48,72);
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
        font-family: "Monument Extended";
      }

      h2.subtitle {
        @include res-font(18, 26);
        margin-bottom: 34px;
      }

      .description {
        margin-bottom: 35px;
        max-width: 640px;
        p {
          @include res-font(14, 16);
        }
      }
      .form{
        max-width: 545px;

        &.loading {
          .btn-row {
            .icon {
              display: inline-block;

            }

            .txt {
              display: none;
            }
          }
        }
        &.success {
          .success-info {
            display: block;
          }
        }
        .success-info {
          display: none;
          padding-top: 12px;
          color: $blue;
          font-size: 14px;
        }
        .form-row {
          margin-bottom: 18px;

          &.select-row {
            position: relative;

            &:after {
              content: '';
              display: block;
              width: 25px;
              height: 13px;
              background-image: url('../../images/arrow.svg');
              background-repeat: no-repeat;
              background-position: center center;
              -webkit-background-size: contain;
              background-size: contain;
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              pointer-events: none;
            }
          }

          select {
            -webkit-appearance: none;
            cursor: pointer;
          }

          input,
          textarea,
          select {
            border: none;
            border-bottom: 1px solid #4D4D4D;
            padding: 13px 0;
            @extend .body-txt;
            color: #4D4D4D;
            width: 100%;
            background-color: transparent;
            resize: none;

            &.error {
              color: #d41e07;
              border-bottom: 1px solid #d41e07;

              &::placeholder {
                color: #d41e07;
              }
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              border: none;
              border-bottom: 1px solid #4D4D4D;
              -webkit-text-fill-color: #4D4D4D;
              -webkit-box-shadow: 0 0 0 1000px transparent inset;
              transition: background-color 5000s ease-in-out 0s;
            }

            &::placeholder {
              color: #4D4D4D;
              @extend %trans;
            }

            &:focus::-webkit-input-placeholder {
              color: transparent;
            }

            &:focus:-moz-placeholder {
              color: transparent;
            }

            /* FF 4-18 */
            &:focus::-moz-placeholder {
              color: transparent;
            }

            /* FF 19+ */
            &:focus:-ms-input-placeholder {
              color: transparent;
            }
          }
        }
        .btn-row {
          margin-top: 40px;

          button {
            color: #ffffff;
            max-width: 235px;
            height: 50px;
            width: 100%;
            background-color: $blue;
            padding-left: 15px;
            cursor: pointer;
            margin: 0 auto;
            @extend .with-hover;

            .icon {
              display: none;
              width: 30px;

              svg {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
 @media only screen and (min-width: 1086px) and (max-width: 1440px) {
   .page-template-template-concierge{
     .wrap{
       .left-column{
        padding-right:5%;
       }
       .right-column{
          padding-left:5%;
       }
     }
   }
 }
 @media only screen and (max-width: 1086px) {
   .page-template-template-concierge{
     .wrap{
       flex-direction:column;
       text-align: center;
       .left-column {
        padding:0;
         width:100%;
         position:relative;
       }
       .left-column::after{
         content:'';
         position:absolute;
         width:100%;
         height:100%;
         border:1px solid #343434;
         border-top:none;
         border-right:none;
         left: 30px;
         top: 50px;
         z-index: -1;
       }
       .right-column {
         padding:0 30px 40px;
         width:100%;
         text-align: left;
         h1{
           position:relative;
           height:auto;
           transform: unset;
           left:0;
           top: -45px;
         }
         >div{
           max-width: 100% !important;
         }
       }
     }
   }
 }