body{
  overflow-x:hidden;
  .shop-container{
    max-width:1340px;
    margin:220px auto 0;
    .filter{
       padding: 56px 0 100px 0;
      display:flex;
      justify-content: space-between;
      .menu-shop-menu-container {
        ul {
          display: flex;
          justify-content: space-between;
          max-width: 1035px;
          margin: 0 auto;

          li {
            a {
              text-transform: uppercase;

            }
          }

          li:not(.current-menu-item) {

            a {
            }


          }

        }
      }
      .berocket_single_filter_widget{
        .bapf_head{
          display:none;
        }
        ul{
          display: flex;
          li{

            background-color:rgba(255,255,255,.2);
            input{
              display:none !important;
            }
          }
          li:not(.checked){
            background-color:rgba(255,255,255,.1);
            input{
              display:none;
            }
          }
        }
      }

      ul {
        li {
          background: rgba(255, 255, 255, .1);
          border-radius: 44px;
          //padding: 12px 16px;
          width: auto !important;
          margin-right: 12px;
          transition: 1s all;
          position:relative;
        label{
          color:#fff;
          padding: 12px 50px 12px 16px;
          cursor:pointer;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 999;
            top: 0;
            left: 0;
            cursor: pointer;
          }
        }
        span{
          position: absolute;
          right: 7px;
          top: 6px;
        }
        input {
            width: 0 !important;
            margin: 0 !important;
          }


        a {
          margin: 0;
          padding: 12px 16px;
          display: inline-block;
        }

        .count {
          margin: 0 0 0 10px;
          background: #fff;
          color: #000;
          padding: 6px 0;
          text-align: center;
          border-radius: 100%;
          line-height: 1;
          width: 25px;
          height: 25px;
          display: inline-block;
          font-family: 'Bebas Kai';
          font-size: 14px;
          transition: 0.4s background-color;
        }
      }

        li:hover,
        li.current-menu-item {
          background: rgba(255, 255, 255, 0.2);

          a {
            //letter-spacing: 0px;
          }

          span.count {
            background: #00f !important;
            color: #fff !important;
          }
        }
         li.checked{
             position:relative;
             padding-right:50px;
            .count {
              background: #00f !important;
              color: #fff !important;
            }

            input {
              width: 20px !important;
              margin: 0 16px !important;
              opacity: 1;
              visibility: visible;
              transition: 1s all;
            }
            label{
              color:#fff;
               &::after{
                 content: '';
                 background-image:url('./../../images/filter-remove.svg');
                 background-repeat: no-repeat;
                 background-position: calc(100% - 20px) center;
                 position:absolute;
                 width:100%;
                 height:100%;
                 z-index: 999;
                 top:0;
                 left:0;
                 cursor:pointer;
             }
            }
             span{
               right:27px !important;
             }
        }
         li:last-child{
            margin:0 !important;
          }
      }


    }


    .products-wrap{
      .products{
        display: grid;
        grid-template-columns: 356px 356px 356px;
        justify-content: space-between;
        grid-gap: 100px;
        .product{
          text-align: center;
          a{
            display:grid;
            grid-template-areas:
            "images images"
            "title price";
            cursor:pointer;
            .img-wrap{
              grid-area: images;
              width:100%;
              height: auto;
              margin-bottom: 5px;
              background: radial-gradient(140.32% 162.08% at 67.28% 162.08%, #0057FF 40.61%, rgba(0, 87, 255, 0) 100%);
              padding: 37px;
            }
            .woocommerce-loop-product__title{
              grid-area:title;
              @include res-font(15,22);
              text-align: left;
            }
            .price{
              grid-area: price;
               @include res-font(15,22);
               text-align: left;
              bdi{
                float:right;
              }
            }
          }
        }
      }
    }
    ul.page-numbers{
      display: flex;
      justify-content: center;
      margin:97px 0;
      li{
        padding: 7px 18px;

        .current{
        color:#0057FF;
        }
      }
    }
  }
}